<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
        backupGlobals="true"
        bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        cacheResultFile="Tests/.phpunit_result/.phpunit.result.cache"
>
  <coverage
          ignoreDeprecatedCodeUnits="true"
          disableCodeCoverageIgnore="true">
    <report>
      <clover outputFile="Tests/.phpunit_result/tests-clover.xml"/>
      <html outputDirectory="Tests/.phpunit_result/codeCoverage" highLowerBound="80"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="TYPO3_CONTEXT" value="Testing"/>
    <env name="APP_SECRET" value="TESTING_SECRET"/>
  </php>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="Tests/.phpunit_result/tests-junit.xml"/>
  </logging>
  <source>
    <include>
      <directory>Classes</directory>
    </include>
    <exclude>
      <directory>Classes/Service/FileSystem</directory>
      <directory>Classes/Exception</directory>
    </exclude>
  </source>
</phpunit>
